.no-border {
    border: none;
    outline: none;
    box-shadow: none;
}

.dropdown {
    font-size: 16px;
    border: none;
    background-color: white;
    color: black;
    outline: none;
    box-shadow: none;
}

/* Placeholder style */
/* .dropdown option[value=""] {
    color: rgb(231, 49, 49);
} */

/* When MONITOR is selected, keep normal background */
/* .dropdown:has(option[value=""]:checked) {
    color: #0c0202;
    background-color: rgb(201, 29, 29);
} */
h1 {
    width: 100%;
    height: 120px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}