body{
background-image:  url(images/background.jpg);

    
}
h1{
    color: #ffffff;
    font-size: 170px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.7;
    letter-spacing: 0.05rem;

}
button{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    text-size-adjust: 10%;
    font-weight: 700;
    border: none;
    outline: none;
    box-shadow: none;
    background-color:transparent;
}

h2{
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;

}

h3{
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    margin: auto;

}
h4{
    color: #ffffff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    margin: auto;
    line-height: 1.5;

}

p{
   color: #ffffff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    margin: auto; 
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    text-size-adjust: 10%;
    font-weight: 700;
}
.table1{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: black;
}

.txt1{
    text-indent: 30px;
    color: #ffffff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    margin: auto;
    line-height: 1.5;
}

.txt2{
    text-indent: 60px;
    color: #ffffff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    margin: auto;
    line-height: 1.5;
}
