body{
background-image:  url(images/background.jpg);

    
}
h1{
    color: #ffffff;
    font-size: 170px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.7;
    letter-spacing: 0.05rem;

}
.dropdown{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    text-size-adjust: 10%;
    font-weight: 700;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: black;
    baopacity: 1;
}
}
h2{
    color: #F1DCB1;
    font-size: 20px;
    font-family: Impact,'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;

}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    text-size-adjust: 10%;
    font-weight: 700;
}

#table1{
        /* width: 100%; */
}

