body {
    background-image: url(images/background.jpg);


}

h1 {
    color: #ffffff;
    font-size: 170px;
    text-align: center;
    font-family: Georgia, 'a';
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.7;
    letter-spacing: 0.05rem;

}

@font-face {
    src: url('Gravitas_One/GravitasOne-Regular.ttf');
    font-family: 'a';
}

button {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    text-size-adjust: 10%;
    font-weight: 700;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}



h2 {
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;

}

h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    /* text-align: left; */
    letter-spacing: 1px;
    margin: auto;

}

h4 {
    color: #ffffff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    /* text-align: left; */
    letter-spacing: 1px;
    margin: auto;
    line-height: 1.5;

}

p {
    color: #ffffff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: left; */
    letter-spacing: 1px;
    margin: auto;
    line-height: 1.7;
}

.about {
    position: absolute;
    right: 20px;
    bottom: 1;
    text-size-adjust: 10%;

}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
}

.table1 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: auto;
}

.table2 {
    position: fixed;
    bottom: 1;
    right: 0;
    width: 100%;
    height: 100px;
    margin: auto;
}

.txt1 {
    text-indent: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7;
}

.txt2 {
    text-indent: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7;
}

.txt3 {
    text-indent: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

/* alignment */
.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

/* icon spacing */
.footer-center a {
    margin: 0 8px;
    color: #ffffff;
    text-decoration: none;
}

button:hover {
    color: #515a51;
}

.ps1 {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.ps2 {
    position: absolute;
    bottom: 6px;
    left: 45%;

}

.ps3 {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.ps4 {
    position: absolute;
    left: 50%;
    bottom: 1px;
}