@font-face {
    font-family: Gelasio;
    src: url(../font/Gelasio/static/Gelasio-Regular.ttf);
}

@font-face {
    font-family: Gravitas_One;
    src: url(../font/Gravitas_One/GravitasOne-Regular.ttf);
}