.social {
    display: flex;
    gap: 12px;
}

.icon {
    width: 44px;
    height: 44px;
    border: 2px solid #f31515;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fa1717;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.icon:hover {
    background: #4fd41b;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    /* left | center | right */
    align-items: center;
    padding: 20px;
    background: #111;
    color: #fff;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

/* alignment */
.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

/* icons spacing */
.footer-center a {
    margin: 0 8px;
    color: #fff;
    text-decoration: none;
}

.table1 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: black;
    margin: auto;
}