* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* product */
/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 120px;
    flex-wrap: wrap;
    margin-left: 5px;
}

.card button {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    text-decoration: none;
}

.card {
    width: 320px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.968);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.card h3 {
    padding: 18px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase
}