* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(../images/background.jpg);
}

/* start nav */
.nav {
    margin-top: 40px;
    margin-left: 30px;
    position: fixed;
}

/* .nav {
    box-shadow: 2px 3px 5px rgba(255, 247, 247, 0.5);
} */

.nav button {
    outline: none;
    border: none;
    padding: 10px;
    box-shadow: none;
    background-color: transparent;
}

.nav button {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

@font-face {
    src: url('../Gravitas_One/GravitasOne-Regular.ttf');
    font-family: 'a';
}

.nav div {
    display: inline-block;
}

.nav button:hover {
    transform: translateY(-3px);
    transition-duration: 10ms;
    color: #eeeded;
}

.hr {
    display: inline-block;
    background-color: #ffffff;
    width: 99.8%;
    margin-top: 97px;
}

.hr1 {
    display: inline-block;
    background-color: #ffffff;
    width: 99.8%;
    margin-top: 7px;
}