* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #474545;
}

/* start nav word */
.navbg {
    position: absolute;
    position: fixed;
    border: 1px solid #ffffff;
    background-color: #000000;
    width: 99.8%;
    height: 110px;
}


.navword {
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    opacity: 0.5;
}

.navword {
    margin-top: 120px;
}

.logo {
    position: relative;
    position: fixed;
}

.logo img {
    position: absolute;
    width: 60px;
    top: 25px;
    left: 30px;
}

.name {

    position: absolute;
    color: #ffffff;
    top: 40px;
    left: 5%;
    font-family: 'a';
}

.name h2 {
    position: fixed;
}

.nav {
    position: absolute;
    right: 10px;
    top: 35px;
    position: fixed;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: #ffffff;
}


.nav button,
.sec button {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 10px;
    box-shadow: none;
    background-color: transparent;
}

.nav button {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

@font-face {
    src: url('../Gravitas_One/GravitasOne-Regular.ttf');
    font-family: 'a';
}

.nav div,
.sec div {
    display: inline-block;
}

.nav button:hover {
    transform: translateY(-3px);
    transition-duration: 10ms;
    color: #eeeded;
}


/* product */
/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 180px;
    flex-wrap: wrap;
    margin-left: 5px;
}

.card button {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    text-decoration: none;
}

.card {
    width: 320px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.968);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.card h3 {
    padding: 18px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase
}