*{
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpg);
}
/* header */
.pshd{
    position: absolute;
    top: 150px;
    left: 30px;
}

/* navetion */
.pshome{
    position: absolute;
    top: 40%;
    left: 2%;
}
.psmo{
    position: absolute;
    top: 40%;
    left: 6%;
}
.psdi{
    position: absolute;
    top: 40%;
    left: 11.7%   
}



@font-face{
    src: url('../Gravitas_One/GravitasOne-Regular.ttf');
    font-family: 'a';
}

.font1{
    font-family: 'a';
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    opacity: 0.5;
    color: #ffffff;
    letter-spacing: 0.05rem;
}
button{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    text-size-adjust: 10%;
    font-weight: 700;
    border: none;
    outline: none;
    box-shadow: none;
    background-color:transparent;
}
