*{
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpg);
}
/* header */
.pshd{
    position: absolute;
    top: 150px;
    left: 30px;
}
@font-face{
    src: url('../Gravitas_One/GravitasOne-Regular.ttf');
    font-family: 'a';
}

.font1{
    font-family: 'a';
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    opacity: 0.5;
    color: #ffffff;
    letter-spacing: 0.05rem;
}
/* end header */

/* start nav */
.pshome{
    position: absolute;
    top: 40%;
    left: 2%;
}
.psmo{
    position: absolute;
    top: 40%;
    left: 6%;
}
.psdi{
    position: absolute;
    top: 40%;
    left: 11.7%   
}
.pspe{
    position: absolute;
    top: 40%;
    left: 17%;   
}
.pscs{
    position: absolute;
    top: 40%;
    left: 25.1%; 
}
.psct{
    position: absolute;
    top: 40%;
    left: 36.5%; 
}

button{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    text-size-adjust: 10%;
    font-weight: 700;
    border: none;
    outline: none;
    box-shadow: none;
    background-color:transparent;
}
/* end nav */

hr{
    color: #ffffff;
    position: absolute;
    bottom: 13%;
    width: 99.8%;
}

/* start footer */
.txt1{
    text-indent: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7;
    color: #ffffff;
}

.txt2{
    text-indent: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7;
    color: #ffffff;
}
.txt3{
    text-indent: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7;
    color: #ffffff;
}
.txt4{
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7;
    color: #ffffff;
}
.txt5{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.7;
    color: #ffffff;
}
.txt6{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.7;
    color: #ffffff;
}

.psft1{
    position: absolute;
    bottom: 15px;
    left: 7px;
}
.psft2{
    position: absolute;
    bottom: 7px;
    right: 7px;
}
/* end footer */
/* start icon */
.psfb{
    position: absolute;
    bottom: 6%;
    left: 45%;
}
/* end icon */
.pscp{
    color: #ffffff;
    position: absolute;
    bottom: 5px;
    left: 45%;
}