* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #474545;

}

/* start nav */
.navbg {

    border: 1px solid #ffffff;
    background-color: #000000;
    width: 99.8%;
    height: 110px;
    top: 0px;
}

.icon a {

    text-decoration: none;
    color: #ffffff;
}

.icon {
    position: absolute;
    left: 20px;
    top: 38px;
}

.icon a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;

}

.icon a {
    border: 1px solid #ffffff;
    border-radius: 7px;
    padding: 5px;
    background-color: #000000;
}

/* end nav */

.dis {
    margin-top: 5%;
}


.bd {

    left: 7%;
}

.bd {
    position: absolute;
    width: 360px;
    height: 420px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.968);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.name img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}


.name h3 {
    position: absolute;
    top: 25%;
    right: 20%;
}

.name h3 {
    font-size: 35px;
    color: #ffffff;
}

.clear {
    clear: both;
}

.butt a {

    top: 40%;
    left: 35%;

}

.butt a:hover {
    color: #ffffff;
    background-color: #474545;
}

.butt a {
    position: absolute;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #fbf2f2;
    background-color: #000000;
    padding: 10px 30px;
}

.butt {
    list-style: none;
}


.name h4 {
    font-size: 23px;
    position: absolute;
    right: 10%;
    top: 50%;
    line-height: 2.5;
    color: #ffffff;

}

.bar {

    position: absolute;
    width: 67%;
    right: 0px;
    top: 50%;
}